.container {
    height: 600px;
    width: 60%;


    display: flex;
    overflow: hidden;

    border-radius: 20px;
      box-shadow: 0 10px 30px rgb(128, 128, 128);
}
body {
    margin: 0;
    padding: 30px;

    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}
.img {
    width: 50%;
    height: 100%;
    background-image: url("./assests/loginpage-bg.png");
    background-size: cover;
    background-position: center;
    position: relative;
}
.welcontent {
    position: absolute;

    top: 50px;
    left: 50px;

    color: white;
}


.welcontent h1 {
    font-size: 40px;
    margin: 15px 0;
}


.welcontent p {
    font-size: 16px;
    margin: 0;
}

 .welcontent span {
    font-size: 16px;
    color: #8b71c8;
}


.login-section {
    width: 50%;
    height: 100%;

    background: white;

    padding: 15px 45px;
    box-sizing: border-box;
}


.brand {
    text-align: center;
}

 .brand img {
    width: 80px;
    height: 50px;
    object-fit: contain;
}
.brand h2 {
    margin: 5px 0 3px;
    font-size: 24px;
}

.brand p {
    margin: 0;
    color: gray;
    font-size: 13px;
}
.login-form {
    margin-top: 20px;
}

.inputss {
    margin-bottom: 12px;
}

.inputss label {
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 500;
}

.inputss input {
    width: 100%;
    height: 50px;

    padding: 0 15px;
    box-sizing: border-box;

    border: 1px solid #ddd;
    border-radius: 10px;

    font-size: 15px;
    outline: none;
}

.inputss input:focus {
    border-color: #8b5cf6;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 8px 0 15px;
}

.options label {
    font-size: 14px;
    color: #555;
}

.options input {
    margin-right: 6px;
}

.options a {
    color: #8b5cf6;
    text-decoration: none;
    font-size: 14px;
}

.login-btn {
    width: 100%;
    height: 50px;

    border: none;
    border-radius: 10px;

    background-color: #8b5cf6;

    color: white;
    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

.divider {
    display: flex;
    align-items: center;
    gap: 10px;

    margin: 12px 0;
}

.divider span {
    flex: 1;
    height: 1px;
    background-color: #ddd;
}

.divider p {
    margin: 0;
    color: #888;
    font-size: 13px;
}
.loginbtn {
    display: flex;
    gap: 15px;
}

.loginbtn button {
    width: 50%;
    height: 45px;

    background-color: white;

    border: 1px solid #ddd;
    border-radius: 10px;

    font-size: 14px;

    cursor: pointer;
}

.loginbtn button:hover {
    background-color: #f5f5f5;
}

.signup {
    text-align: center;

    margin-top: 12px;

    font-size: 13px;
    color: #777;
}

.signup a {
    color: #8b5cf6;

    font-weight: bold;

    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}